$navheight: 50px;
$navcolor: #868686;
$hovercolor: #fe0058;
$headerheight: 450px;
$header-title-color: #fff;
$font: 1em;

@mixin a_css($color) {
	text-decoration: none;
	color: $color;
}
/* 单行省略设置 */
@mixin break($width) {
	width: $width;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

%width {
	width: 1300px;
  min-width: 1300px;
  margin: 0 auto;
}
%mainwidth {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
%h1 {
	padding: 0;
	margin: 0;
}

%ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
