
$height: 300px;
$width: 600px;
$bgcolor: rgba(0,0,0,0.4);
$textheight: 30px;
$textcolor: #fff;
/* show image css */ 
.display-img{
	ul{
		@extend %ul;
		margin: 0 70px 0 70px;
	}
	li{
		height: $height;
		width: $width;
		position: relative;
		top: 0;
		float: left;
		overflow: hidden;
		a{
			display: block;
			img{
				height: $height;
				width: $width;
			}
			span{
				display: block;
				position: absolute;
				background-color: $bgcolor;
				bottom: -$textheight;
				width: 100%;
				height: $textheight;
				line-height: $textheight;
				padding: 0 10px 0 10px;
				transition: all 500ms;
				color: $textcolor;
			}
			&:hover{
				span{
					bottom: 0;
				}
			}
		}
	}
	.control{
		display: block;
		position: absolute;
		height: 80px;
		width: 60px;
		line-height: 80px;
		top: 50%;
		margin-top: -45px;
		color: #a2a2a2;
		font-size: 6 * $font;
		text-align: center;
		transition: all 500ms;
		cursor: pointer;
		box-shadow: 0 0 4px rgba(0,0,0,0.3);
		background-color: rgba(0,0,0,0.08);
		@at-root #control_right
		{
			right: 76px;
		}
		@at-root #control_left
		{
			left: 76px;
		}
	}
}
.display-img:hover
{
	.control{
		color: #fff;
	}
	#control_right
	{
		right: 0;
	}
	#control_left
	{
		left: 0;
	}
}

/* newss css */
.news{
	h3 {
		margin: 0;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background-color: #68abc6;
		color: #fff;
		font-size: 1.8 * $font;
		letter-spacing: 3px;
		font-weight: lighter;
	}
	ul{
		@extend %ul;
		$li-height: 40px;
		$textColor: #7d7d7d;
		li{
			position: relative;
			height: $li-height;
			width: 100%;
			line-height: $li-height;
			a{
				@include a_css($textColor);
				&:hover {
					color: $hovercolor;
					&:after{
						opacity: 0.8;
					}
				}
			}
			h4 {
				display: inline;
				@include break(310px);
				margin: 0;
				padding: 0;
				font-size: 0.9 * $font;
				float: left;
			}
			span {
				float: right;
			}
		}
		a::after{
			content:'';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			background-color: $hovercolor;
			width: 100%;
			opacity: 0;
			transition: all 500ms;
		}
		
	}
}