@import './_base.scss';
$height: 98px;
$width: 298px;
$color: #757575;
$bg: #fff;
$hoverbg: #5a5a5a;
$hover: #fff;
%block{
	height: $height;
	color: $color;
	float: left;
	margin-left: 10px;
	background-color: $bg;
  border: 1px solid #f4f4f4;
}
.version{
  position: relative;
  text-align: center;
  color: #bfbfbf;
  top: 200px;
}
.footer-box{
	position: absolute;
  display: flex;
	left: 50%;
	margin: -60px 0 0 -531px;
	top: 50%;
	width: 1062px;
	height: $height;
	// background-color: #000;
}
a.footer-block{
	display: block;
}
.footer-block{
	@extend %block;
	@include a_css($color);
	width: $width;
  flex-grow: 1;
	text-align: center;
	p {
		margin: 0;
		height: 40px;
		line-height: 50px;
	}
	.title {
		color: $hovercolor;
		padding-top: 10px;
		font-size: 2 * $font;
		font-weight: bold;
	}
	.smalltitle {
		letter-spacing: 5px;
	}
	&:first-child{
		margin-left: 0;
	}
}

.footer-address{
	@extend %block;
	width: 440px;
	float: left;
	transition: all 500ms;
	p {
		margin: 0;
		padding-left: 20px;
		height: 30px;
		line-height: 45px;
	}
	&:hover{
		background-color: $hoverbg;
		color: $hover;
	}
}

.footer-block
{
	transition: all 500ms;
	&:hover {
		background-color: $hoverbg;
		.smalltitle{
			color: $hover;
		}
	}
}
