@import './_base.scss';
$size: 90px;
$border: 1px solid #288954;
$color: #00ffde;
%size{
  width: $size;
  height: $size;
}
.header-bar
{
  color: $color;
  ul{
    @extend %ul;
    li{
      position: relative;
      background-color: $bgcolor;
      float: left;
    }
  }
  .weixin, .time, .header-info{
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    &:hover{
      box-shadow: 0 0 5px rgba(0,0,0,0.4);
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      z-index: 100;
      color: #fff;
    }
  }
  .weixin, .time
  {
    @extend %size;
  }
  .weixin{
    border-left: $border;
    border-right: $border;
  }
  .header-info{
    height: 70px;
    font-size: smaller;
    padding: 10px;
    p {
      @extend %h1;
      letter-spacing: 1px;
      margin-top: 6px;
    }
  }
}
.weixin::after, .small-time,
.weixin::before, .time::before
{
  display: block;
  position: absolute;
  text-align: center;
  height: $size;
  width: $size;
  top: 0;
  transition: all 500ms;
}
.weixin::before
{
  line-height: 30px;
  letter-spacing: 3px;
  font-size: 1.5 * $font;
  margin-top: 15px;
  left: 0;
}
.weixin::before{
  content: '公众\A账号';
}
.time::before
{
  content: '';
  background-image: url(../../assets/clock.png);
  background-size: cover;
}
.weixin::after
{
  content:'';
  /* 这里的地址根据引用位置来确定，而不是根据该文件位置来确定 */
  background-image: url(../../assets/weixin.png);
  background-size: cover;
  left: $size;
}
.small-time{
  font-size: 3 * $font;
  text-align: center;
  line-height: $size;
  margin-left: 3px;
  left: $size;
}
.weixin:hover, .time:hover{
  &:before{
    left: -$size;
  }
  &:after{
    left: 0;
  }
}
.time:hover{
  .small-time{
    left: 0;
  }
}

/* 大的倒计时显示 */
#header_timer{
  $color: #fff;
  text-align: center;
  color: $color;
  h3{
    @extend %h1;
    // margin-top: -100px;
    font-size: 3 * $font;
    padding-top: 10px;
  }
  p{
    @extend %h1;
    // margin-right: -400px;
    font-size: 5 * $font;
    color: $hovercolor;
    span {
      color: $color;
      margin: 0 20px;
      font-size: 0.5 * $font;
    }
  }
}
