@import './_base.scss';
$height: 400px;
$width: 300px;
$bgcolor: #fafafa;
$padding: 20px;
$imgheight: 200px;
$color-text: #00bcd4;
// 产品 顶部 卡片展示元素CSS
.product-item {
	width: $width;
	background-color: $bgcolor;
	color: $navcolor;
	box-shadow: 0 0 5px #ccc;
	text-align: center;
	%absolute{
		position: absolute;
		top: 0;
		left: 0;
	}
	h3{
		@extend %h1;
		padding-top: 20px;
		text-align: center;
		font-weight: bold;
	} 
	.item-img-box{
		position: relative;
		margin: $padding;
		overflow: hidden;
		height: $imgheight;
		background-size: cover;
		img{
			@extend %absolute;
			height: 200px;
			width: $width - (2 * $padding);
			z-index: 100;
		}
		&::after{
			@extend %absolute;
			content: '';
			width: $width - (2 * $padding);
			height: $imgheight;
			filter: blur(3px);
			-webkit-filter: blur(3px);
			background: inherit;
		}
	}
	span{
		display: block;
		padding: 0 $padding $padding $padding;
		margin: 0;
		font-size: 1.2 * $font;
	}
}

// 产品ListCss
.product-list {
	margin: 40px auto;
	text-align: center;
	color: $navcolor;
	h3 {
		padding: 40px 0 10px 0;
		margin: 0;
		font-size: 2 * $font;
		color: $color-text;
	}
	span {
		display: block;
		width: 100%;
		font-size: 1.2 * $font;
		margin: 10px auto;
	}
	.color-text {
		padding: 20px 0;
		font-size: 1.5 * $font;
		color: $color-text;
	}
}