@import './_base.scss';
$width: 504px;
.tjhzs_about{
	.about_list{
		width: $width;
		margin: 50px auto;
		p{
			font-size: 16px;
			color: #242729;
			line-height: 28px;
			text-align: center;
		}
	}
	.head{
		margin-bottom: 30px;
		text-align: center;
		.title {
			font-size: 24px;
			height: 30px;
			line-height: 30px;
			display: flex;
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			&::before{
				margin-right: 20px;
				content: ' ';
				display: inline-block;
				border-top: 1.5px solid #ccc;
				left: 0;
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				height: 0px;
				margin-top: 14px;
			}
			&::after{
				margin-left: 20px;
				content: ' ';
				display: inline-block;
				border-top: 1.5px solid #ccc;
				right: 0;
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				height: 0px;
				margin-top: 14px;
			}
		}
	}
	
	.conrow{
		display: flex;
		font-size: $font;
		text-align: left;
		.item{
			-webkit-box-flex: 1;
			flex: 1;
			height: 30px;
			margin: 10px 0;
			span{
				vertical-align: text-bottom;
			}
			.icons{
				font-size: 24px;
				margin-right: 10px;
			}
			.icon-house{
				color: #8bc34a;
				&::before{
					content: '\e903';
				}
			}
			.icon-travel{
				color: #cddc39;
				&::before{
					content: '\e90f';
				}
			}
			.icon-film{
				color: #00dfff;
				&::before{
					content: '\e913';
				}
			}
			.icon-learn{
				color: #ffc107;
				&::before{
					content: '\e920';
				}
			}
			.icon-money{
				color: #673ab7;
				&::before{
					content: '\e93e';
				}
			}
			.icon-heart{
				color: #e91e63;
				&::before{
					content: '\e9da';
				}
			}
		}
	}
}