body {
  min-width: 1000px;
}


.fileinput {
  opacity: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 112px;
  height: 33px;
  left: 0;
}
.btn-primary {
  background-color: #009688;
  border-color: #079c8e;
}
.btn-primary:focus, .btn-primary.active, .btn-primary:hover, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #04b6a6;
  border-color: #04b6a6;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #009688;
  border-color: #079c8e;
}

.btn-warning {
  background-color: #e1336e;
  border-color: #c33464;
}
.btn-warning:focus, .btn-warning.active, .btn-warning:hover, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ef0454;
  border-color: #d5044b;
}
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
  color: #fff;
  background-color: #ef0454;
  border-color: #d5044b;
}

ul {
  list-style: none;
  padding: 0;
}
