.main-message {
  width: 40%;
  margin: 20px auto;
  text-align: center;
  position: absolute;
  bottom: -20px;
  display: none;
}
.message-box {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.main-message span {
  font-size: 20px;
  vertical-align: middle;
}
.main-message .message-icon {
  font-size: 32px;
  margin-right: 20px;
}

/* 加载动画 */
#loading {
  position: absolute;
  height: 40px;
  width: 220px;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -110px;
}
.loading-body {
  position: relative;
  float: left;
  height: 40px;
  width: 40px;
}
.circle-1 , .circle-2{
  position: absolute;
  border-radius: 50%;
  background-color: #0062e0;
  left: 50%;
  top: 0;
  opacity: 0.6;
  width: 40px;
  height: 40px;
  margin-left: -20px;
}
.circle-1{
  animation: bounce1 2s infinite ease-in-out;
}
.circle-2{
  animation: bounce2 2s infinite ease-in-out;
}
@keyframes bounce1 {
  0%, 100%{
    transform: scale(0.2);
    opacity: 0.2;
  }
  50%{
    transform: scale(1);
    opacity: 0.6;
  }
}
@keyframes bounce2 {
  0%, 100%{
    transform: scale(1);
    opacity: 0.6;
  }
  50%{
    transform: scale(0.2);
    opacity: 0.2;
  }
}
.loading-info {
  font-size: 18px;
  line-height: 40px;
  padding-left: 50px;
  animation: info_animate_normal 2s infinite ease-in-out;
  user-select: none;
  cursor: default;
}
@keyframes info_animate_normal {
  0%, 100%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.8;
  }
}
